*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: Arial, sans-serif;
}
.main-container{
    width: 90%;
    max-width: 700px;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    display:flex;
    border-radius: 30px;
    text-align: center;
}
.Login{
    width: 50%;
    height: 400px;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}
.log-cont-animation {
    animation-name: log-cont-animation;
    animation-duration: 2s;
}
@keyframes log-cont-animation {
    100% {
        transform: translateX(-50%) scaleX(0);
      opacity: 1;
      transform-origin: left center;
      transform: translateX(80%) scaleX(0);
      opacity: 0;
      transition: transform 1s ease, opacity 1s ease;
      z-index: 0;
    }
}
.reg-cont-login {
    animation-name: reg-cont-login;
    animation-duration: 2s;
}
@keyframes reg-cont-login {
    100%{ 
       transform: translateX(-90%) scaleX(0);/* brings it into the screen */
       z-index: 0;
       transition: transform 1s ease, opacity 1s ease;
       background-color: aliceblue;
       transform-origin: right center;
    }
}
.glass-alert {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px 50px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0 0 30px rgba(0,0,0,0.2);
      color: #fff;
      text-align: center;
      display: none;
      z-index: 9999;
      font-size: 20px;
      color: black;
      font-weight: bolder;
    }
    .glass-alert.show {
      display: block;
    }

.Register{
    width: 50%;
    height: 400px;
}
.input-box {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: none;
}
.input-box:focus {
    border-width: 2px;
}
.btn{
    /* From Uiverse.io by lenfear23 */ 
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
    width: 50%;
    height: 30px;
    margin-top: 25px;
}


button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
    
.btn-l{
    width: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
    height: 30px;
    margin-top: 15px;
}
.div {
    display: none;
}
.input-box-login {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    width: 80%;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: none;
}
#article {
    color: white;
}
article{
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.input-box-login:focus {
    border-width: 2px;
}
.btn-login{
    width: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
    height: 30px;
    margin-top: 25px;
}
.btn-register{
    width: 50%;
    display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
    height: 30px;
    margin-top: 15px;
}
.h1-89 {
    margin-top: 10px;
    margin-bottom: 20px;
}
